.cart-container {
  height: 78vh;
  padding: 20px;
}
.cart-container-1 {
  padding: 20px;
}
.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.cart-summary {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #015659;
}
.cart-summary:hover {
  box-shadow: 0 0 30px #015659;
}

.cart-summary h1 {
  font-size: 18px;
  margin-bottom: 16px;
}

.cart-summary p {
  font-size: 15px;
  margin: 8px 0;
  color: #0368ff;
}

.cart-summary span {
  font-weight: bold;
}

.cart-empty {
  text-align: center;
  padding: 50px 20px;
}

.cart-empty h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.shop-now-button {
  background: #015659;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.shop-now-button:hover {
  background: #029297;
  box-shadow: 0 0 20px #015659;
}

@media (min-width: 200px) and (max-width: 991px) {
  .cart-container {
    height: auto;
  }
}
